.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
mat-card {
  width: 350px;
  padding: 2rem 1.5rem;
}
.w-100 {
  width: 100%;
}
.mt-2 {
  margin-top: 1rem;
}
.error {
  color: #d32f2f;
  margin-bottom: 0.5rem;
  text-align: center;
}
